@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300&display=swap');

:root {
    --pink: #e61d93;
    --gradient:linear-gradient(90deg,#0000,var(--pink));
    --lightpink: #ef67b6;
    --pink1: #ff8fab;
    --box-shadow: 10px 13px 0px -2px rgba(239,103,182,0.75);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection{
    background: var(--pink);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body { 
    margin: 0;
}

img {
    width: 300px;
    height: 400px;
}


section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5vh;
}

.btn {
    display: inline-block;
    padding: 10px 14px;
    margin-top: 2rem;
    background: var(--pink);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem (0,0,0,.1);
    border-radius: 0.3rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.btn:hover {
    background: #fff;
    color: var(--pink);
    font: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}

header .logo {
    position: relative;
}

header .logo img {
    height: auto;
    width: 250px;
}

header .navbar a{
    font-size: 18px;
    margin-left: 2rem;
    color:#000;
}

header .navbar a:hover {
    color: var(--pink);
}

header input {
    display: none;
}

header label {
    font-size: 3rem;
    color: var(--purple);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

header .navbar .bx {
    font-size: 25px;
    color: var(--pink);
    margin-left: 20px;
    cursor: pointer;
}

header .bx:hover {
    font-size: 25px;
    background-color: var(--pink);
    color: #f9f9f9;
    padding: 1px;
}

@media (max-width:760px) {

    header label {
        visibility: visible;
        opacity: 1;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.1);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .1s linear;
    }

    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(0);
        opacity: 1;
    }

    header input:checked ~ label::before {
        content:'';
    }

    .home {
        flex-flow: column-reverse;
    }

     .image img {
        width: 100%;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }
    
}

@media (max-width:450px) {
    
    html {
        font-size: 50%;


    }
}
/*abt us*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Playfair Display', serif;
    display: grid;
    background-color: #ffffff;
    align-content: center;
    min-height: 100vh;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}
.image{
    background: url("img/aboutus.jpg") center/cover no-repeat;
}
.content{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
    font-family: 'poppins', sans-serif;
}
.content h3{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 6px;
    opacity: 0.9;
    font-family: 'poppins', sans-serif;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    font-family: 'poppins', sans-serif;
}
/* veronica*/
.veronica {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
    background-color: #ffffff;
} 

.veronica-img img {
    border-radius: 50%;
    padding: 20px 0;
    position: aboslute;

}

.veronica-text h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #023020;
    font-family: 'poppins', sans-serif;
	
}

.veronica-text p { 
  font-size: 2rem;
  margin: 0.5rem 0 1.1rem;
  text-align: justify;
    text-justify: inter-word;
  margin: 0;
  padding: 10px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.christine {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
    background-color: #f5e4e4;
} 

.christine-img img {
    border-radius: 50%;
    padding: 20px 0;
    position: aboslute;

}

.christine-text h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #023020;
    font-family: 'poppins', sans-serif;
	
}

.christine-text p { 
    font-size: 2rem;
    margin: 0.5rem 0 1.1rem;
    text-align: justify;
      text-justify: inter-word;
    margin: 0;
    padding: 10px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  .ender {
    display: flex;
    background-image: linear-gradient(rgba(230, 225, 225, 0.697),rgba(249, 249, 249, 0.812)),url('ender.png');
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
}

.ender-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    color: var(--pink);
    margin-top: -200px;
    margin-left: 70px;
}



.container {
    max-width: 1170px;
    background-color: var(--pink);
    margin: auto;
}

.container p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #f9f9f9;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

ul {
    list-style: none;
    text-decoration: none;
    color: #f9f9f9;
}

ul li {
    color: #f9f9f9;
    text-decoration: none;
}

.footer {
    background-color: var(--pink);
    padding: 70px 0;
    line-height: 1.5;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    color: #f9f9f9;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    background-color: #fff;
	color: var(--pink);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}